@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'form';
$color_back: #333;
@mixin block($myWidth:90%) {
    width: $myWidth;
    margin: 5px auto;
    border-radius: 3px;
}
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: lighten($color_back, 71%);
    margin: 0;
    padding: 0;
    color: #1b1b1b;
    font-size: 1.2rem;
}
header {
    @include block(100%);
    background-color: $color_back;
    color: white;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    h1 {
        font-size: 2.6rem;
    }
    img {
        width: 175px;
        border-radius: 5px;
    }
}
section {
    @include block(85%);
    border: 1px solid $color_back;
    text-align: center;
    padding: 45px;
    > * {
        margin: 20px auto;
        border: 1px solid greenyellow;
    }
 
    p:first-of-type {
        margin: auto 80px;
        color: red;
    }
        img {
        width: 300px;
        border-radius: 5px;
    }
}
